* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #141922;
}

img {
    height: 100%;
}

ul img {
    height: 20px;
    vertical-align: text-bottom;
}

ul li {
    list-style: none;
    height: 30px;
    line-height: 30px;
}

.fas {
    font-size: 40px;
    vertical-align: middle;
}

.logo-small {
    display: none;
}

main {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
}

h1, h5 {
    color: #fff;
}

button {
    border: 2px #fff solid;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 8px 25px;
    margin-right: 40px;
    cursor: pointer;
}

button:hover {
    font-size: 15px;
}

a {
    text-decoration: none;
}

/* --------------------------- */
/* sidebar */

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #000;
    color: #A3A3A3;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.sidebar a {
    text-decoration: none;
    color: #A3A3A3;
}

.sidebar a:hover {
    color: #fff;
}

.sidebar-start {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 40px;
}

.sidebar-nav {
    margin: 20px 0;   
}

.sidebar-nav li:hover,
.playlist-name li:hover {
    border-left: 2px #B2EC50 solid;
    padding-left: 10px;
}

.playlist h3 {
    color: #fff;
}

.create-playlist {
    height: 40px;
    margin: 10px 0 15px 0;
    font-size: 15px;
}

.playlist-name {
    flex-grow: 1;
    min-height: 100px;
    overflow-y: auto;
}

.sidebar-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.download {
    height: 40px;
    padding: 12px 0;
    margin: 15px 0;
    font-size: 12px;
    border-bottom: 1px #A3A3A3 solid;
}

.download img {
    vertical-align: middle;
}

.profile {
    font-size: 15px;
    color: #fff;
}

.profile img {
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

/* main */

.main-container {
    width: calc(100% - 250px);
    padding: 110px 20px 0 20px;
    overflow-y: auto;
}

.main-container p {
    padding-top: 5px;
    line-height: 18px;
    color: #7D7F84;
    font-size: 12px;
}

.topbar {
    height: 100px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1001;  
}

/* nav main container*/

nav {
    padding-bottom: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
    font-size: 13px;
}

nav a {
    text-decoration: none;
    color: #7D7F84;
    padding-bottom: 4px;
}

nav a:hover {
    border-bottom: 2px #B2EC50 solid;   
}

/* album */

.album-list {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: start;
}

.album-list h5 {
    padding-top: 5px;
    line-height: 18px;
}

.album,
.album-radius {
    width: calc(100% / 6);
    padding-right: 15px;
    margin: 10px 0;
    text-align: center;
    color: #7D7F84;
}

.album img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.album-image {
    width: 100%;
    position: relative;
}

.album-image .fa-play-circle {
    color: #fff;
    margin: 0;
    font-size: 50px;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.overlay,
.overlay-radius {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

.album-image:hover .play,
.album-image:hover .overlay {
    display: block;
}

.album-radius img {
    display: block;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.album-image:hover .overlay-radius {
    display: block;
    border-radius: 50%;
}

/* footer */

footer {
    background-color: #282828;
    height: 100px;
    width: 100%;
    display: flex;
}

/* contenuto player left */

.player-left,
.player-right {
    height: 100%;
    width: calc(100% / 3);
    max-width: 250px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #fff;
}

.player-left img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: all 1s;
}

.player-left p {
    font-size: 15px;
    transition: font-size 0.5s;
    margin-left: 10px;
}

.player-left span {
    display: inline-block;
    width: 80px;
    font-size: 12px;
    transition: font-size 0.5s;
}

.player-left span a {
    color: #7D7F84;
}

.player-left span a:hover {
    text-decoration: underline;
}

.icon-left {
    margin-left: 40px;
    font-size: 22px;
    transition: all 0.5s;
}

.icon-left a {
    color: #A3A3A3;
}

.icon-left a:hover {
    color: #fff;
    cursor: pointer;
}

/* contenuto player center */

.player-center {
    width: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-button {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-button .fas {
    font-size: 15px;
    margin: 0 10px;
    color: #fff;
}

.fa-play-circle {
    font-size: 30px;
    margin: 0 15px;
    color: #fff;
}

.fa-undo-alt {
    transform: scaleX(-1);
}

.player-bar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-bar span {
    font-size: 10px;
    padding: 0 10px;
    color: #fff;
}

/* contenuto player right */

.icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-right .fas {
    font-size: 15px;
    margin: 0 10px 0 5px;
    transition: all 0.5s;
    color: #fff;
}

/* range bar */

.music-slider{
    height: 3px;
    width: 50%;
    background-color: #7D7F84;
    border-radius: 5px;
    cursor: pointer;
}

.volume-slider{
    height: 3px;
    width: 70%;
    background-color: #7D7F84;
    border-radius: 5px;
    cursor: pointer;
}

.slider {
    height: 100%;
    width: 25%;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.slider-control{
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -4px;
    right: -4px;
    border-radius: 50%;
    display: none;
}

.music-slider:hover .slider,
.volume-slider:hover .slider {
    background-color: #B2EC50;
}

.music-slider:hover .slider-control,
.volume-slider:hover .slider-control{
    display: block;
}

/* input[type='range'] {
    overflow: hidden;
    height: 3px;
    width: 70%;
    -webkit-appearance: none;
    background-color: #434343;
    border-radius: 50px;
    cursor: pointer;
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 3px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    width: 40%;
    -webkit-appearance: none;
    height: 5px;
    cursor: ew-resize;
    background: #ccc;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:hover {
    width: 40%;
    -webkit-appearance: none;
    height: 5px;
    cursor: ew-resize;
    background: rgb(111, 255, 28);
    cursor: pointer; 
      
}

.player-right input[type='range'] {
    overflow: hidden;
    height: 3px;
    min-width: 20%;
    -webkit-appearance: none;
    background-color: #434343;
    border-radius: 50px;
} */

@media screen and (max-width: 1199px) {

    .album-list {
        width: 100%;
        padding: 40px 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: start;
    }
    
    .album,
    .album-radius {
        height: 100%;
        width: calc(100% / 4);
        padding-right: 15px;
        text-align: center;
        color: #7D7F84;
    }

}

@media screen and (max-width: 767px) {
    
    .album-list {
        width: 100%;
        padding: 40px 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: start;
    }
    
    .album,
    .album-radius {
        height: 100%;
        width: calc(100% / 2);
        padding-right: 15px;
        text-align: center;
        color: #7D7F84;
    }
}

@media screen and (max-width: 575px) {

    .sidebar {
        width: 50px;
        padding: 10px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar-start,
    .sidebar-end {
        align-items: center;
    }

    .sidebar-nav li:hover,
    .playlist-name li:hover {
        border-left: none;
        padding-left: 0px;
    }

    .main-container, .topbar {
        width: calc(100% - 50px);
    }

    .topbar {
        left: 50px;
    }

    .sidebar span,
    .playlist,
    .playlist-name,
    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        height: 25px;
    }

    .player-left img {
        display: block;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    
    .player-left p {
        font-size: 12px;
    }
    
    .player-left span {
        color: #A3A3A3;
        font-size: 8px;
    }

    .icon-left {
        margin-left: 0;
        color: #A3A3A3;
        font-size: 15px;
    }
    
    .icon-right .fas {
        font-size: 12px;
        margin: 0 5px 0 5px;
    }
}