* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #141922;
    display: flex;
    flex-direction: column;
}

img {
    height: 100%;
}

ul img {
    height: 20px;
    vertical-align: text-bottom;
}

ul li {
    list-style: none;
    height: 30px;
    line-height: 30px;
}

.fas {
    font-size: 40px;
    vertical-align: middle;
}

.logo-small {
    display: none;
}

main {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
}

/* --------------------------- */
/* sidebar */

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #000;
    color: #A3A3A3;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

.sidebar-start {
    height: 250px;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 40px;
}

.sidebar-nav {
    margin: 20px 0;   
}

.sidebar span, .playlist span {
    margin-left: 5px;
}

.playlist h3 {
    color: #fff;
}

.create-playlist {
    height: 40px;
    margin: 10px 0 15px 0;
    font-size: 15px;
}

.playlist-name {
    height: calc(100% - 350px);
    min-height: 100px;
    overflow-y: auto;
}

.sidebar-end {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.download {
    height: 40px;
    padding: 12px 0;
    margin: 15px 0;
    font-size: 12px;
    border-bottom: 1px #A3A3A3 solid;
}

.download img {
    vertical-align: middle;
}

.profile {
    font-size: 15px;
    color: #fff;
}

.profile img {
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

button {
    border: 2px #fff solid;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 8px 25px;
    margin-right: 40px;
}

/* main */

.main-container {
    width: calc(100% - 250px);
    padding-top: 100px;
    overflow-y: auto;
}

.topbar {
    height: 80px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;    
}

.box-items {
    height: calc(100% - 80px);
    margin-top: 80px;
}

footer {
    background-color: #282828;
    height: 80px;
    width: 100%;
}

.box {
    background-color: chocolate;
    width: 300px;
    height: 300px;
    margin: 20px;
}


@media screen and (max-width: 575px) {

    .sidebar {
        width: 50px;
        padding: 10px;
        background-color: #000;
    }

    .main-container, .topbar {
        width: calc(100% - 50px);
    }

    .sidebar-start, .sidebar-end {
        align-items: center;
    }

    .sidebar-nav span, .playlist, .playlist-name, .logo, .sidebar-end span {
        display: none;
    }

    .logo-small {
        display: block;
        height: 25px;
    }
}